.team_main_container{
    display: flex;
    padding-top: 6rem;
    background: radial-gradient(circle, rgba(17,60,57,1)0% , rgba(1,2,19,1) 50%);
    height: 160vh;
}
.divider {
    padding: 1.7rem 4rem 1.6rem 15rem;
    font-size: var(--divider-font-size);
    font-weight: 700;
    font-size: min(3.6vw,48px);
    
  }
.our_team{
    font-size: 30px;
}
/* // */
.svg_and_text{
    position: relative;
}
.svg_and_text .team_right_text{
    width: 30%;
    position: absolute;
    right: 0;
    background-color: #113c39;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 23px 34px;
    font-size: 1.3rem;
}

.svg_and_text img img{
    width: 70%;

}
.sub_team_main_container{
    display: flex;
    flex-direction: column;
   width: 100%;
}
/* /// */
.profile_photo{
    /* position: relative;
    left: -99px; */
    background-image: url("./profile.svg");
    padding: 4rem 7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 37rem;
    position: absolute;
    z-index: 1;
    top: 0rem;
}

.profile_photo img{
    width: 65%;

}
.profile_photo .img_1 img{
    height: 133px;
    width: 132px;
    border-radius: 75px;
    
}
.img_photo{
    display: flex;
    gap: 6rem;
}
.text_and_mission{
    display: flex;
    justify-content: flex-end;
    padding-top: 6rem;

}
/* /// */
.two_svg_and_text_company{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 6rem;
    position: relative;
    top: 8rem;
   
   
}
/* /// */
.two_profile_data{
    display: flex;
    padding: 1rem 9rem;
    position: absolute;
    top: 9rem;
}

.sub_all_company_img{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}
.sub_all_company_img img{
    width: 20%;
    aspect-ratio: 5/4;
    padding: 10px;

}
/* // */
.mayank_svg_and_text_company_1{
   
    background-image: url("./profile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 39rem;
    padding: 2rem 3rem;
    align-items: center;
    justify-content: center;
    padding: 6rem;
  
}

/* /// */
.mayank_svg_and_text_company_1 .all_company_img{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
  
    

}
.mayank_svg_and_text_company_1 .all_company_img p{
    width: 100%;
    color: #D2D4ED;
    padding-top: 2.8rem;
}

/* /// */
.alex_svg_and_text_company_1{
    background-image: url("./profile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 39rem;
    padding: 2rem 3rem;
    align-items: center;
    justify-content: center;
    padding: 6rem;
}

/* /// */
.alex_svg_and_text_company_1 .all_company_img{
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
  

}
.alex_svg_and_text_company_1 .all_company_img p{
    width: 100%;
    color: #D2D4ED;
    padding-top: 2.8rem;
}

.img{
    position: absolute;
    top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;


}

.img
.img img{
     width: 62%;;
}
.profile_photo .img_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.profile_photo .img_1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    gap: 0.4rem;
    color: white;
}

.profile_photo .img_1 a:hover {
    color: #61dafb;
  }
  .profile_photo .img_1 a[href*="linkedin"] {
    color: #0077b5; 
  }
  .mobile_view_image{
    display: none;
  }

  @media (max-width:750px) {
    .divider{
        padding: 0rem 1rem;
    font-size: min(4.6vw,48px);
    }
    .team_main_container {
        height: 265vh;
    }
    .svg_and_text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2rem;
        position: unset;
    }
    .svg_and_text .team_right_text{
        width:unset;
        position: unset;
        padding: 34px 46px;
    }
    .svg_and_text p{
        border-radius: 20px;
        padding: 20px 0px 20px 19px;
    }
    .profile_photo{
        display: none;
    }
    .two_profile_data{
        padding: 2rem;
        flex-direction: column;
        position: unset;
        gap: 4rem;
    }
    .two_svg_and_text_company{
        position: unset;
    }
    .mayank_svg_and_text_company_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        background-image: none;
        background: #2e2a4e;
        border-radius: 20px;
        padding: 2rem 0rem;
     
    }
    .alex_svg_and_text_company_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        background-image: none;
        background: #2e2a4e;
        border-radius: 20px;
        padding: 2rem 0rem;
      
    }
    .sub_all_company_img img{
        width: 14%;
        aspect-ratio: 2/4;
    }
  
    .mobile_view_image{
        display: block;
    border-radius: 246px;
    width: 36%;
    }
  }
  @media (min-width:750px ) and (max-width:1230px){
    .profile_photo{
        background-size: 476px;
    }
    .svg_and_text{
        padding: 0px 209px;
    }
    .svg_and_text p{
        border-radius: 20px;
    }
    .profile_photo .img_1 img{
        height: 109px;
        width: 114px;
        border-radius: 75px;
    }
    .mayank_svg_and_text_company_1{
        background-size: 400px;
    }
    .alex_svg_and_text_company_1{
        background-size: 400px;
    }
    
    
  }